<!DOCTYPE html>
<html>
	<head>
		<title>Blasfemy As A Service (BAAS)</title>
		<meta charset="utf-8">

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	</head>
	<body style="margin-top:40px;">
		<div class="container">
			<div id="view-10" view="">
				<div class="hero-unit">
					<h1><%=message%></h1>
					<% if (subtitle) { %><p><em><%=subtitle%></em></p><% } %>
				</div>
			</div>
		</div>
		<% include ../common/ga %>
	</body>
</html>
